body{
    font-family:'mukta',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f8fa;
}
button{
    position: relative;
    border: 0;
    display: inline-block;
    width: 12rem; height: auto;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
}
.button-text{
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding:0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    left: 0;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.circle{
    transition: all 0.4s ease-in-out;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem; 
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}
.icon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.arrow{
    transition: all 0.4s ease-in-out;
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
.arrow::before{
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button:hover .circle{
    width: 100%;
}
button:hover .arrow{
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text{
    color: #fff;
}